<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>


    <div class="about">
        <h1>About</h1>
        <h2>Blank Hackers <img src="/images/Logo.png" alt="Blank-Hackers-logo"></h2>
        <p>We Just began as a team for HACKDATA 5.0 and are looking forward to make amazing projects together in the future. HEALTH / R.A.M.P being the center of it. R.A.M.P also comes from the combination of the words </p>
    </div>

<%- include('partials/footer'); -%>