        <!-- Footer -->

        <footer id="footer">
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <p>© Copyright 2021</p>
            <h3><img class="logo-img" src="/images/Logo.png" alt="Blank-Hackers-Logo">  Blank Hackers</h3>
            
        </footer>
    </body>
</html>