body{
    background-color: #e7e6e1;
}

.bg-primary
{
    background-color: #f2a154 !important;
}

.bg-secondary
{
    background-color: #314e52 !important;
}

.sidenav
{
    background-color: #314e52 !important;
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus
{
    background-color: #e77911 !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus
{
    background-color: #8f8f8f !important;
}

.statement{
    padding: 2%;
}

.statement>h2{
    color: #fff;
}

.card{
    min-height: 200px;
}

.nav-link{
    color: antiquewhite;
}
.nav-link.active{
    color: #8f8f8f;
}

.profile-name{
    font-family: 'Roboto Slab';
    font-size: 2rem;
    font-weight: 400;
}

.header{
    min-height: 700px;
}

#footer {
    text-align: center;
    background-color: #e7e6e1;

    padding: 2%;
}
#footer > a {
    padding: 5% 2%;
    color: #000;
}
#footer > p {
    margin: 0.5%;
}
#footer img {
    width: 5%;
}